<template>
  <v-app>
    
      <v-row class='pt-0 mt-n2'>
              <!-- <h1 class='text-h5'>User Listing</h1> -->
        <v-spacer></v-spacer>
        <v-btn class='red' dark @click="go(routes.back_route)">
          <v-icon  left>mdi-arrow-left</v-icon>
          Back 
        </v-btn>
             
      </v-row>
   

    <v-card>
    <v-card-title>
      {{form_Title}}
      <v-spacer></v-spacer>
    </v-card-title>
    <v-divider></v-divider>

    <v-form v-model="valid" ref='myform'>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
             <v-text-field
                v-model="asset_name"
                :rules="assetRules_required"
                label="Asset Name"
                required
              ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
              <v-text-field
                v-model="stock_code"
                rules=""
                label="Stock Code"
              ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6">
              <v-text-field
                v-model="engname"
                :rules="engnameRules"
                label="Engineer Name"
                required
              ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
              <v-text-field
                v-model="assigndate"
                :rules="assigndateRules"
                label="Assign Date"
                required
              ></v-text-field>
          </v-col>
        </v-row>
        
         <v-row>
          <v-col cols="12" sm="6">
            <v-text-field
                v-model="currentlocation"
                :rules="locationRules"
                label="Current Location"
                required
              ></v-text-field>
            
              
          </v-col>
          <v-col cols="4" sm="2">
              <v-switch v-model="web_access" label="Web Access"></v-switch>
          </v-col>
          <v-col cols="4" sm="2">
              <v-switch v-model="app_access" label="App Access"></v-switch>
          </v-col>
          <v-col cols="4" sm="2">
              <v-switch v-if="user.is_admin == 1" v-model="super_admin" label="Super Admin"></v-switch>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols='12'>
            <v-btn color='teal' dark :disabled="!valid"  @click='submitForm'> Submit </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </v-card>

  <v-snackbar
      v-model="snackbar"
      :timeout="snackbartimeout"
      top
      right
      :color='snackbarcolor'
    >
      {{ snackbartext }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="yellow"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
  </v-snackbar>

       
  </v-app>
</template>


<script>
  export default {
    props:{
      extraInfo: String,
      user: Object,
    },
    data: () => ({
      uid: null,
      snackbar: false,
      form_Title: 'Add New Asset',
      snackbartext: '',
      snackbartimeout: 3000,
      snackbarcolor: '',
      valid: false,
      engname: '',
      engnameRules: [
        v => !!v || 'Engineer Name is required',
        v => v.length <= 50 || 'First Name must be less than 50 characters',
      ],
      assigndate:'',
      assigndateRules: [
        v => !!v || 'Assign Date is required',
       // v => v.length <= 50 || 'Last Name must be less than 50 characters',
      ],
      asset_name:'',
      assetRules_required: [
        v => !!v || 'Asset Name is required',
      //  v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
     

      stock_code:'',
     

      password:'',
      app_access: false,
      web_access: false,
      is_admin: false,
      roles:[],
      routes: '',
      super_admin: false,
      role: { text: '', value: '' },
      currentlocation: '',
      locationRules: [
        v => !!v || 'Current Location is required',
      //  v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    }),

    computed: {
      emailRule: function() {

        if(this.stock_code !== '')
          return [ v => /.+@.+\..+/.test(v)   || 'This field is optional but you may enter a valid Stock Code.',];
        else
          return [];
      },
    },

    watch: {

    },

    created () {
      // this.initialize()
      
    },

    methods: {
      go (route) {
          window.location.href = route;
      },
      submitForm () {
        const data = {
            'login_id1': this.login_id1,
            'login_id2': this.login_id2,
            'firstname': this.firstname,
            'lastname' : this.lastname,
            'web_access' : this.web_access,
            'app_access' : this.app_access,
            'super_admin': this.super_admin,
            'role_id': this.role,
            'uid': this.uid,
        };

        axios.post(this.routes.submit_form,data).then((response)=>{
          
          if(typeof response.data == 'object'){
            this.snackbartext = response.data.message;
            this.snackbarcolor = response.data.action;
            this.snackbar = true;

          }
          else if(response.data == 'Success')
          {
            this.snackbartext = "New user is added successfully.";
            this.snackbarcolor = 'success';
            this.snackbar = true;
            this.formReset();
          }
          else if(response.data == 'Updated')
          {
            // this.snackbartext = "Details are updated successfully.";
            // this.snackbarcolor = 'success';
            // this.snackbar = true;
            // this.formReset();
            alert("Details are updated successfully.");
            window.location.href = this.routes.back_route;
          }
          
        })
        .catch(error => {
          // console.log(error.response.data.errors);
          this.snackbartext = '';
          for (const [key, value] of Object.entries(error.response.data.errors)) {
            // console.log(`${key}: ${value}`);
            this.snackbartext += value ;
              
          }
          // this.snackbartext += error.response.data.errors.keys(item => {
            
          // })
          this.snackbarcolor = 'error';
          this.snackbar = true;

        })

      },
      formReset () {
        
        this.role = { text: '', value: '' };
        this.app_access = false;
        this.web_access = false;
        this.is_admin = false;
        this.valid =  false;
        this.login_id2 = '';
        this.login_id1 = '';
        this.firstname = '';
        this.lastname = '';
        this.$refs.myform.resetValidation();

      }
    },

    mounted() {
      this.routes = JSON.parse(this.extraInfo);
      this.roles = this.routes.roles;
      this.roles = this.roles.map(role => {
          return {
            text: role.role_name,
            value: role.id,
          }
      });

      if(typeof this.routes.form_title != 'undefined')
        this.form_Title = this.routes.form_title;

      
      if(typeof this.routes.editFormDetails != 'undefined')
      {
        const formDetails = this.routes.editFormDetails.user;

        this.uid = formDetails.id;

        if(typeof formDetails.login_id1 != 'undefined')
        {
          this.login_id1 = formDetails.login_id1??'';
        }

        if(typeof formDetails.login_id2 != 'undefined')
        {
          this.login_id2 = formDetails.login_id2??'';
        }

        if(typeof formDetails.firstname != 'undefined')
        {
          this.firstname = formDetails.firstname??'';
        }

        if(typeof formDetails.lastname != 'undefined')
        {
          this.lastname = formDetails.lastname??'';
        }

        if(typeof formDetails.role_id != 'undefined')
        {
          this.role = {text:formDetails.role, value: formDetails.role_id };
        }

        if(typeof formDetails.app_access != 'undefined')
        {
          this.app_access = formDetails.app_access??'';
        }

        if(typeof formDetails.is_admin != 'undefined')
        {
          this.is_admin = formDetails.is_admin??'';
        }

        if(typeof formDetails.web_access != 'undefined')
        {
          this.web_access = formDetails.web_access??'';
        }

      }

      

      
     
    }

  }
</script>

<style  scoped>

</style>