<template>
    <v-app>
        <!-- Filters -->
        <v-container class='mt-n6'>

            <v-row>
                <v-col cols=12 sm=6>
                    <v-row>
                         <v-col cols='12'  md='6' >
                            <v-card class="mx-auto" max-width="344"   >
                                <v-list-item three-line>
                                    <v-list-item-content>
                                        <div class="overline mb-4">Sales</div>
                                        <v-list-item-title class="headline mb-1">20,123</v-list-item-title>
                                        <v-list-item-subtitle >Sub title</v-list-item-subtitle>
                                    </v-list-item-content>

                                    <v-list-item-avatar
                                        size="60"
                                        color="error"
                                    >
                                        <v-icon class='white--text' fontSize='16'>mdi-heart</v-icon>
                                    </v-list-item-avatar>

                                </v-list-item>
                            </v-card>
                        </v-col>
                        <v-col cols='12'  md='6' >
                            <v-card class="mx-auto" max-width="344"   >
                                <v-list-item three-line>
                                    <v-list-item-content>
                                        <div class="overline mb-4">Sales</div>
                                        <v-list-item-title class="headline mb-1">20,123</v-list-item-title>
                                        <v-list-item-subtitle >Sub title</v-list-item-subtitle>
                                    </v-list-item-content>

                                    <v-list-item-avatar
                                        size="60"
                                        color="error"
                                    >
                                        <v-icon class='white--text' fontSize='16'>mdi-heart</v-icon>
                                    </v-list-item-avatar>

                                </v-list-item>
                            </v-card>
                        </v-col>
                    </v-row>
                     <v-row>
                         <v-col cols='12'  md='6' >
                            <v-card class="mx-auto" max-width="344"   >
                                <v-list-item three-line>
                                    <v-list-item-content>
                                        <div class="overline mb-4">Sales</div>
                                        <v-list-item-title class="headline mb-1">20,123</v-list-item-title>
                                        <v-list-item-subtitle >Sub title</v-list-item-subtitle>
                                    </v-list-item-content>

                                    <v-list-item-avatar
                                        size="60"
                                        color="error"
                                    >
                                        <v-icon class='white--text' fontSize='16'>mdi-heart</v-icon>
                                    </v-list-item-avatar>

                                </v-list-item>
                            </v-card>
                        </v-col>
                        <v-col cols='12'  md='6' >
                            <v-card class="mx-auto" max-width="344"   >
                                <v-list-item three-line>
                                    <v-list-item-content>
                                        <div class="overline mb-4">Sales</div>
                                        <v-list-item-title class="headline mb-1">20,123</v-list-item-title>
                                        <v-list-item-subtitle >Sub title</v-list-item-subtitle>
                                    </v-list-item-content>

                                    <v-list-item-avatar
                                        size="60"
                                        color="error"
                                    >
                                        <v-icon class='white--text' fontSize='16'>mdi-heart</v-icon>
                                    </v-list-item-avatar>

                                </v-list-item>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols=12 sm=6>
                    <highcharts :options="chartOptions" :updateArgs="updateArgs"  ref="chart1" ></highcharts>
                </v-col>
               
            </v-row>
           
            <v-row>
                <v-col cols='12'>
                    <!-- <v-btn color='teal' class='white--text' @click='chart1URL = extraInfoObject.updateGraph1;updateGraph()' :disabled="chart1URL == extraInfoObject.updateGraph1">Overall Headcount</v-btn>
                    <v-btn color='teal' class='white--text' @click='chart1URL = extraInfoObject.daywisedoorcounts;updateGraph()' :disabled="chart1URL == extraInfoObject.daywisedoorcounts">Door wise Headcount</v-btn> -->
                   <highcharts :options="chartOptions" :updateArgs="updateArgs"  ref="chart1" ></highcharts>
                </v-col>
            </v-row>
           
        </v-container>
        <!-- END Filters -->
    </v-app>
</template>

<script>

import {Chart} from 'highcharts-vue'

export default {
    props:{
      extraInfo: String,
      user: Object,
    },
    components: {
        highcharts: Chart 
    },
    data() {
        return {
            extraInfoObject:'',
            updateArgs: [true, true, true],
            chartOptions: {
                 chart: {
                    type: 'line'
                },
                title: {
                    text: 'Average Sales this month'
                },
                yAxis: {
                    title: {
                        text: 'Number of Sales'
                    },
                    // min:0
                },
                xAxis: {
                    categories: []
                },
                plotOptions: {
                    // series: {
                    //     // general options for all series
                    //     pointStart: 0,
                    //     enableMouseTracking: true,
                    //     dataLabels: {
                    //         enabled: true
                    //     }
                    // },
                    line: {
                        // shared options for all line series
                    }
                },
                // series: []
            },
           

        }
    },
    computed: {
       
    },
    mounted () {
        this.extraInfoObject = JSON.parse(this.extraInfo);

       

        this.updateGraph();

    },
    methods: {
        updateGraph() {
            this.DrawGraph1();
            // this.DrawGraph2();
        },
        DrawGraph1() {
            // daywisedoorcounts
            //updateGraph1
            // axios.get(this.extraInfoObject.daywisedoorcounts,{
            //     params: {
            //         jk_id:this.jk_id,
            //         daterange: JSON.stringify(this.dates),
            //         doors:this.door,
            //         days: JSON.stringify(this.days)

            //     }
            // })
            // .then(res=> {
                
                // const graphdata = res.data.graphdata;
           
                // this.chartOptions.series =  graphdata.map((item,index)=>{
                //     return {
                //         name: res.data.legends[index],
                //         data: item
                //     }
                // })

     
                let num = [];
                for(let i = 1; i< 9;i++)
                {
                    num.push(Math.floor(Math.random() * 10));
                }
                            

                console.log(num);
                this.chartOptions.series =   {
                        name: 'Sales',
                        data: num
                    };
                
                
      
                this.chartOptions.xAxis.categories = [1,5,10,15,20,25,30,31];
                this.chartOptions.plotOptions.series = {dataLabels: {
                                enabled: true
                            }};
            //     })
            // .catch(error => {
            //     console.error(error);
            // })
        },
      
        checkColumnGraphValues(chart){
            // console.log(chart);
        //     console.log(chart.series);
        //     this.$forceUpdate();
        },
        
    }
}
</script>

<style  scoped>

</style>