<template>
    <v-app>
        <v-card>
            <v-container>
                <v-row>
                    <v-col cols="12" md="4">
                        <v-select
                            v-model="role_id"
                            :items="rolelist"
                            label="Select Role"
                            @change='preparetoGetPermissions'
                            ></v-select>
                    </v-col>
                </v-row>
                <v-row>
                    <v-divider></v-divider>
                </v-row>
                <v-row>
                    <v-col cols="12" md='6'>
                        <h3>General Permissions</h3>
                        <v-treeview
                            selectable
                            v-model='permissionSelection'
                            :items="permissionsList"
                            dense
                            open-all
                            return-object
                        ></v-treeview>
                    </v-col>
                    <!-- <v-col cols="12" md='6'>
                         <h3>Menu Permissions</h3>
                        <v-treeview
                            selectable
                            v-model='permissionSelection'
                            :items="permissionsList"
                            dense
                            open-all
                            return-object
                        ></v-treeview>
                    </v-col> -->
                </v-row>

                 <v-row>
                    <v-col cols="1" md="1">
                        <v-btn style='background-color:teal' class="white--text"  @click='ValidForm' :disabled='!formValid'> Submit</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>

        <v-snackbar
            v-model="snackbar"
            :timeout="snackbartimeout"
            top
            right
            :color='snackbarcolor'
            >
            {{ snackbartext }}

            <template v-slot:action="{ attrs }">
                <v-btn
                color="yellow"
                text
                v-bind="attrs"
                @click="snackbar = false"
                >
                Close
                </v-btn>
            </template>
        </v-snackbar>

        <v-dialog v-model="confirmformSubmit" persistent max-width="690">
            <v-card>
                <v-card-title class="headline">{{ dialog_header }}</v-card-title>
                <v-card-text v-html="dialog_msg" ></v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error darken-1" text @click="confirmformSubmit = false">No! Cancel</v-btn>
                <v-btn color="green darken-1" text @click="writeDatabase" >Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

          <v-dialog v-model="dartyCheckConfirmation" persistent max-width="690">
            <v-card>
                <v-card-title class="headline">Not Saved</v-card-title>
                <v-card-text v-html="dartyDialogText" ></v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error darken-1" text @click="DartyDialogCancel">No! Cancel</v-btn>
                <v-btn color="green darken-1" text @click="getPermissions" >Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>



    </v-app>
</template>

<script>
export default {
    props: {
        extraInfo: String,

    },
    data () {
        return {
            snackbar: false,
            snackbartext: '',
            snackbartimeout: 3000,
            snackbarcolor: '',
            dialog_msg: '',
            dialog_header: '',
            confirmformSubmit: false,
            role_id: null,
            prevRole_id: null,
            rolelist: [],
            DetailsObject: '',
            permissionsList:[],
            permissionSelection: [],
            prevPermissionSelection: [],
            dartyDialogText: '',
            dartyCheckConfirmation: false,
        }
    },
    created () {
        this.DetailsObject = JSON.parse(this.extraInfo);
        this.rolelist = JSON.parse(this.DetailsObject.roles);
        this.rolelist = this.rolelist.map(role => {
            return {
                text: role.role_name,
                value: role.id,
            }
        });


        this.permissionsList = JSON.parse(this.DetailsObject.permissions);
        this.permissionsList = this.permissionsList.map(permission => {
            return {
                id: permission.id,
                name: permission.title,
            }
        });

    },
    computed: {
        formValid() {
            if (this.role_id != '' && this.role_id > 0)
                return true;
            else
                return false;
        },
        darty () {
            this.isDartyCheck = true;
            return (JSON.stringify(this.prevPermissionSelection) != JSON.stringify(this.permissionSelection))

        }
    },
    methods:{
        preparetoGetPermissions () {
            if(this.darty) {
                this.dartyDialogText = "You changed permissions and it's not saved <br/> Do you want to continue <b>WITHOUT<b> saving ?";
                this.dartyCheckConfirmation = true;
            }
            else
                this.getPermissions();
        },
        getPermissions() {
            this.dartyCheckConfirmation = false;
            this.prevRole_id = this.role_id;
            axios.get(this.DetailsObject.get_role_permission, {
                params: {
                    role_id : this.role_id,
                }
            })
            .then(res => {
                
                if(res.data.length > 0)
                {
                    this.permissionSelection = res.data.map(permission => {
                        return {
                            id: permission.id,
                            name: permission.title
                        }
                    });
                    this.prevPermissionSelection = this.permissionSelection;

                    this.snackbartext = 'Permissions are pulled for selected Role.';
                    this.snackbarcolor = 'info';
                    this.snackbar = true;
                }
                else
                {
                    this.permissionSelection = [];
                    this.prevPermissionSelection = this.permissionSelection;
                    this.snackbartext = 'No Permissions are found for selected Role. But You may assign.';
                    this.snackbarcolor = 'info';
                    this.snackbar = true;
                }

               
                
            })
            .catch(error => {

            });
        },
        ValidForm () {

            this.dialog_header = 'Setting or Removing Permissions';
            this.dialog_msg = 'Do you want to update Permissions for selected role? <br /> Yes to continue.';
            this.confirmformSubmit = true;
            
        },
        DartyDialogCancel() {
            this.role_id = this.prevRole_id;
            this.dartyCheckConfirmation = false;
        },
        writeDatabase() {
            this.confirmformSubmit = false;
            const data = {
                role_id: this.role_id,
                permissions: this.permissionSelection,
            }

            axios.post(this.DetailsObject.form_submit, data)
            .then(res => {
                this.resetForm();
                this.snackbarcolor = 'success';
                this.snackbartext = 'Permissions are updated successfully.';
                this.snackbar = true;
            })
            .catch(err => {
                this.snackbarcolor = 'error';
                this.snackbartext = 'Data is not submitted to server. Please check your Internet connection.';
                this.snackbar = true;
            })    
            
        },
        resetForm() {
            this.prevPermissionSelection = [];
            this.permissionSelection = [];
            this.role_id = null;
            this.prevRole_id = null;
            
        }
    },
  


}
</script>

<style  scoped>

</style>