<template>
  <v-app>
  

    <v-card>
   
    <v-form v-model="valid" ref='filters' >
      <v-container>
        <v-row>
           <v-col cols="12" sm="3">
               <!-- <v-text-field v-model="dateRangeText" label="Date range"  readonly></v-text-field>
               <v-date-picker v-model="dates" range  ></v-date-picker> -->
               <v-menu ref="date_range_menu" v-model="menu" :close-on-content-click="false"  transition="scale-transition" offset-y min-width="290px"  >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field dense v-model="dateRangeText" persistent-hint label="Date Range" prepend-icon="mdi-calendar-month" readonly v-bind="attrs" v-on="on"    hint="Please hit twice on calendar to select date range."></v-text-field>
                  </template>
                  <v-date-picker v-model="dates" range  ></v-date-picker>
                </v-menu>
          </v-col>
          <v-col cols="12" sm="3">
            <v-select
                  v-model="sector"
                  :items="sectorlist"
                  label="Select Sector"
                  hint="Pick a sector from list"
                  persistent-hint
                  @change='getJks'
                  dense
                ></v-select>
          </v-col>
          <v-col cols="12" sm="4">
               <v-select
                  v-model="jamatkhana_id"
                  :items="jklist"
                  label="Select Jamat Khana"
                  hint="Pick one or more Jamat khana from list"
                  persistent-hint
                  dense
                ></v-select>
          </v-col>
          <v-col cols="12" sm="2">
            <v-btn style="background-color:teal" dark @click="getSchedule">Pull Schedule</v-btn>
          </v-col>
         
        </v-row>
        
      </v-container>
      
    </v-form>
    <v-card>
      
      <v-data-table
          :headers="headers"
          :items="schedulelist"
        >
        <!-- <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)" >
              mdi-pencil
          </v-icon>
          <v-icon small  @click="deleteItem(item)" >
              mdi-delete
          </v-icon>
        </template> -->
      
      
      </v-data-table>
    </v-card>
  </v-card>

  <v-card>
    <v-card-title>
      Set Schedule
    </v-card-title>
    <v-form v-model="valid" ref='scheduleform' >
      <v-container>
        <v-row>
          <v-col cols="4" md="2"> 
            <v-text-field 
              v-model="mon_from"
              color="purple darken-2"
              label="Monday From"
              type='time'
            ></v-text-field>
             <v-text-field 
              v-model="mon_to"
              color="purple darken-2"
              label="Monday To"
              type='time'
            ></v-text-field>
          </v-col>
          <v-col cols="4" md="2"> 
            <v-text-field 
              v-model="tue_from"
              color="purple darken-2"
              label="Tuesday From"
              type='time'
            ></v-text-field>
             <v-text-field 
              v-model="tue_to"
              color="purple darken-2"
              label="Tuesday To"
              type='time'
            ></v-text-field>
          </v-col>
          <v-col cols="4" md="2"> 
            <v-text-field 
              v-model="wed_from"
              color="purple darken-2"
              label="Wednesday From"
              type='time'
            ></v-text-field>
            <v-text-field 
              v-model="wed_to"
              color="purple darken-2"
              label="Wednesday To"
              type='time'
            ></v-text-field>
          </v-col>
          <v-col cols="4" md="2"> 
            <v-text-field 
              v-model="thur_from"
              color="purple darken-2"
              label="Thrusday From"
              type='time'
            ></v-text-field>
            <v-text-field 
              v-model="thur_to"
              color="purple darken-2"
              label="Thrusday To"
              type='time'
            ></v-text-field>
          </v-col>
          <v-col cols="4" md="2"> 
            <v-text-field 
              v-model="fri_from"
              color="purple darken-2"
              label="Friday From"
              type='time'
            ></v-text-field>
            <v-text-field 
              v-model="fri_to"
              color="purple darken-2"
              label="Friday to"
              type='time'
            ></v-text-field>
          </v-col>
          <v-col cols="4" md="2"> 
            <v-text-field 
              v-model="sat_from"
              color="purple darken-2"
              label="Saturday From"
              type='time'
            ></v-text-field>
            <v-text-field 
              v-model="sat_to"
              color="purple darken-2"
              label="Saturday To"
              type='time'
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4" md="2"> 
            <v-text-field 
              v-model="sun_from"
              color="purple darken-2"
              label="Sunday From"
              type='time'
            ></v-text-field>
             <v-text-field 
              v-model="sun_to"
              color="purple darken-2"
              label="Sunday To"
              type='time'
            ></v-text-field>
          </v-col>
           <v-col cols="4" md="4"> 
             <v-select
                :items="['Regular Prayer','Special Event']"
                label="Event Type"
                v-model="eventType"
              ></v-select>
          </v-col>
           <v-col cols="4" md="6"> 
            <v-text-field 
              v-model="comments"
              color="purple darken-2"
              label="Comments"
              type='text'
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="1" md="1">
            <v-btn style='background-color:teal' dark @click='ValidForm'> Submit</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </v-card>
  
  <v-snackbar
      v-model="snackbar"
      :timeout="snackbartimeout"
      top
      right
      :color='snackbarcolor'
    >
      {{ snackbartext }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="yellow"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
  </v-snackbar>


    <v-dialog v-model="confirmformSubmit" persistent max-width="690">
      <v-card>
        <v-card-title class="headline">{{ dialog_header }}</v-card-title>
        <v-card-text v-html="dialog_msg" ></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error darken-1" text @click="confirmformSubmit = false">No! Cancel</v-btn>
          <v-btn color="green darken-1" text @click="writeDatabase">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

       
  </v-app>
</template>


<script>
  export default {
    props:{
      extraInfo: String,
      user: Object,
    },
    data: () => ({
      snackbar: false,
      snackbartext: '',
      snackbartimeout: 3000,
      snackbarcolor: '',
      valid: false,
      dates: [],
      sectorlist: [],
      jamatkhana_id:'',
      jklist:[],
      sector:'',
      schedulelist: [],
      menu:false,
      headers: [],
      mon_from:'',
      tue_from:'',
      wed_from:'',
      thur_from:'',
      fri_from:'',
      sat_from:'',
      sun_from:'',

      mon_to:'',
      tue_to:'',
      wed_to:'',
      thur_to:'',
      fri_to:'',
      sat_to:'',
      sun_to:'',

      confirmformSubmit: false,
      comments: '',
      eventType: 'Regular Prayer',
      dialog_header:'',
      dialog_msg:'',




    }),

    computed: {
      dateRangeText () {
        if(this.dates.length == 2 )
        {
          if(this.dates[0] > this.dates[1] )
          {
            const smalldate = this.dates[1];
            this.dates[1] = this.dates[0];
            this.dates[0] = smalldate;
          } 
        }
       

        return this.dates.join(' ~ ')
      },
      visiblityofScheduleCard () {
        if(this.jamatkhana_id !='' && this.dateRangeText != '')
          return true;
        else 
          return false;

      },
      daysofWeek () {
        return this.mon_from + this.tue_from + this.wed_from + this.thur_from + this.fri_from + this.sun_from + this.sat_from;
      },
    },

    watch: {
     
    },

    methods: {
      go (route) {
          window.location.href = route;
      },
      getSchedule () {
        const data = {
            'jamatkhana_id': this.jamatkhana_id,
            'sector':this.sector,
            'date_range': this.dateRangeText
        };

        axios.get(this.routes.getSchedule_route, {params: data}).then((response)=>{
          
          this.headers = response.data.headers;
          this.schedulelist = response.data.data;
        })
        .catch(error => {
          this.snackbartext = '';
          for (const [key, value] of Object.entries(error.response.data.errors)) {
            this.snackbartext += value ;
              
          }
          this.snackbarcolor = 'error';
          this.snackbar = true;

        })

      },
      ValidForm () {
        if (this.jamatkhana_id == '')
        {
          this.snackbartext = "Please select Jamat Khana first.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if (this.dateRangeText == '')
        {
          this.snackbartext = "Please select Date Range.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if (this.daysofWeek == '')
        {
          this.snackbartext = "There must be atleast one day filled with timing.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if( (this.mon_from != '' && this.mon_to == '') || (this.mon_from == '' && this.mon_to != '') )
        {
          this.snackbartext = "Please complete timing for Monday or make both fields blank.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if( (this.tue_from != '' && this.tue_to == '') || (this.tue_from == '' && this.tue_to != '') )
        {
          this.snackbartext = "Please complete timing for Tuesday or make both fields blank.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if( (this.wed_from != '' && this.wed_to == '') || (this.wed_from == '' && this.wed_to != '') )
        {
          this.snackbartext = "Please complete timing for Wednesday or make both fields blank.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if( (this.thur_from != '' && this.thur_to == '') || (this.thur_from == '' && this.thur_to != '') )
        {
          this.snackbartext = "Please complete timing for Thursday or make both fields blank.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if( (this.fri_from != '' && this.fri_to == '') || (this.fri_from == '' && this.fri_to != '') )
        {
          this.snackbartext = "Please complete timing for Friday or make both fields blank.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if( (this.sat_from != '' && this.sat_to == '') || (this.sat_from == '' && this.sat_to != '') )
        {
          this.snackbartext = "Please complete timing for Saturday or make both fields blank.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        if( (this.sun_from != '' && this.sun_to == '') || (this.sun_from == '' && this.sun_to != '') )
        {
          this.snackbartext = "Please complete timing for Sunday or make both fields blank.";
          this.snackbarcolor = 'error';
          this.snackbar = true;
          return false;
        }

        // this.confirmformSubmit = true;
        
        this.SubmitForm();
      


      },
      SubmitForm() {
        const data = {
          mon_from: this.mon_from,
          tue_from: this.tue_from,
          wed_from: this.wed_from,
          thur_from: this.thur_from,
          fri_from: this.fri_from,
          sat_from: this.sat_from,
          sun_from: this.sun_from,

          mon_to: this.mon_to,
          tue_to: this.tue_to,
          wed_to: this.wed_to,
          thur_to: this.thur_to,
          fri_to: this.fri_to,
          sat_to: this.sat_to,
          sun_to: this.sun_to,

          jk_id: this.jamatkhana_id,
          dateRange: this.dateRangeText,
          eventType: this.eventType,
          comments: this.comments,
        }

        axios.post(this.routes.SubmitForm, {
          data
        })
        .then(res => {
          let msg = [];
          if(typeof res.data == 'object')
          {
            // console.log(typeof res.data);
              msg =   res.data.map(item => {
                  return item.msg;
              });
              
            this.dialog_msg = msg.join("<br />");
            this.dialog_msg = this.dialog_msg + "<br /> Do you want to overwrite the old entries?";
            this.dialog_header = "Time Conflict.";
            this.confirmformSubmit = true;

          }
          else
          {
            this.dialog_msg = "Do you want to continue with the selected options?";
            this.dialog_header = "Confirmation";
            this.confirmformSubmit = true;
          }
          
        


        })


      },
      writeDatabase(){
        const data = {
          mon_from: this.mon_from,
          tue_from: this.tue_from,
          wed_from: this.wed_from,
          thur_from: this.thur_from,
          fri_from: this.fri_from,
          sat_from: this.sat_from,
          sun_from: this.sun_from,

          mon_to: this.mon_to,
          tue_to: this.tue_to,
          wed_to: this.wed_to,
          thur_to: this.thur_to,
          fri_to: this.fri_to,
          sat_to: this.sat_to,
          sun_to: this.sun_to,


          jk_id: this.jamatkhana_id,
          dateRange: this.dateRangeText,
          eventType: this.eventType,
          comments: this.comments,
        }

        axios.post(this.routes.WriteDB_Route, data )
        .then(res => {
          
          this.confirmformSubmit = false;
          if(res.data == 'success')
          {
            this.snackbartext = "Schedule has been update successfully.";
            this.snackbarcolor = 'success';
            this.snackbar = true;

            this.formReset();
          }




        })
        .catch(error => {
            this.snackbartext = "ERROR: " + error;
            this.snackbarcolor = 'error';
            this.snackbar = true;
        })
      },
      formReset () {

        this.$refs.scheduleform.reset();
        this.$refs.scheduleform.resetValidation();
        this.valid =  false;
        // this.jamatkhana_id = '';
        // this.sector = '';
        // this.$refs.myform.resetValidation();

      },
      getJks(){
        this.jklist = [];
        axios.get(this.routes.getJks_sectorwise_route, {
          params: {
            sector_id: this.sector,
          }
        })
        .then(res => {
          if(typeof res.data == 'object')
          {
            this.jklist = res.data.map(jk => {
              return {
                text: jk.name,
                value: jk.id,
              }
            })
          }
        })
      },
    },

    mounted() {
      this.routes = JSON.parse(this.extraInfo);
      this.sectorlist = JSON.parse(this.routes.sectors);
      this.sectorlist = this.sectorlist.map(sector => {
        return {
          text: sector.sector_name,
          value: sector.id,
        }
      })

      const date = new Date();
      const dateWithFormat = date.getFullYear() + "-" + (date.getMonth()+1)+ "-" + date.getDate();
      this.dates = [dateWithFormat,dateWithFormat];

    }

  }
</script>

<style  scoped>

</style>