<template>
  <v-app>
    <v-container>
      <v-row class='pt-0 mt-n2'>
              <!-- <h1 class='text-h5'>User Listing</h1> -->
        <v-spacer></v-spacer>
        <v-btn class='teal' dark @click="go(routes.back_route)">
          <v-icon  left>mdi-arrow-left</v-icon>
          Back 
        </v-btn>
             
      </v-row>
    </v-container>

    <v-card>
    <v-card-title>
      Add New Sector
      <v-spacer></v-spacer>
    </v-card-title>
    <v-divider></v-divider>

    <v-form v-model="valid" ref='myform'>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
              <v-text-field
                v-model="sector_name"
                :rules="[v => !!v || 'The Sector name is required']"
                label="Sector Name"
              ></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols='12'>
            <v-btn color='teal' dark :disabled="!valid"  @click='submitForm'> Submit </v-btn>
          </v-col>
        </v-row>
       
      </v-container>
      
    </v-form>
  </v-card>

  <v-snackbar
      v-model="snackbar"
      :timeout="snackbartimeout"
      top
      right
      :color='snackbarcolor'
    >
      {{ snackbartext }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="yellow"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
  </v-snackbar>

       
  </v-app>
</template>


<script>
  export default {
    props:{
      extraInfo: String,
      user: Object,
    },
    data: () => ({
      snackbar: false,
      snackbartext: '',
      snackbartimeout: 3000,
      snackbarcolor: '',
      valid: false,
      sector_name: '',
     
    }),

    computed: {

    },

    watch: {

    },

    methods: {
      go (route) {
          window.location.href = route;
      },
      submitForm () {
        const data = {
            'sector_name': this.sector_name,
        };

        axios.post(this.routes.submit_form,data).then((response)=>{
          
          if(typeof response.data == 'object'){
            this.snackbartext = response.data.message;
            this.snackbarcolor = response.data.action;
            this.snackbar = true;

          }
          else if(response.data == 'Success')
          {
            this.snackbartext = "New Sector is added successfully.";
            this.snackbarcolor = 'success';
            this.snackbar = true;
            this.formReset();
          }
          
        })
        .catch(error => {
          this.snackbartext = '';
          for (const [key, value] of Object.entries(error.response.data.errors)) {
            this.snackbartext += value ;
              
          }
          this.snackbarcolor = 'error';
          this.snackbar = true;

        })

      },
      formReset () {
        
 
        this.valid =  false;
        this.sector_name = '';
        this.$refs.myform.resetValidation();

      }
    },

    mounted() {
      this.routes = JSON.parse(this.extraInfo);
    }

  }
</script>

<style  scoped>

</style>