<template>
  <v-app>
    
      <v-row class='pt-0 mt-n1 mr-1'>
              <!-- <h1 class='text-h5'>User Listing</h1> -->
              <v-spacer></v-spacer>
              <v-btn class='#dd3d3d' dark @click="go(routes.add_user_route)" v-if='UserCreatePermission'> Add New User </v-btn>
             
      </v-row>
    

    <v-card>
      <v-card-title>
        User Listing
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
          :headers="headers"
          :items="userList"
          :search="search"
          :loading ='loading'
          loading-text="Loading... Please wait"
        >
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)"  v-if='UserModifyPermission'>
              mdi-pencil
          </v-icon>
          <v-icon small  @click="deleteItem(item)" v-if='UserRemovePermission'>
              mdi-delete
          </v-icon>
        </template>
      
      
      </v-data-table>
    </v-card>
    <v-row justify="center">
      <v-dialog v-model="deleteConfirmation" persistent max-width="440">
        <v-card>
          <v-card-title class="headline">Confirmation</v-card-title>
          <v-card-text>{{deleteConfirm_message}}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteConfirmation = false">No! Cancel</v-btn>
            <v-btn color="red darken-1" text @click="proceedDeletion">Yes</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
        
    <v-snackbar
      v-model="snackbar"
      :timeout="snackbartimeout"
      top
      right
      :color='snackbarcolor'
      >
      {{ snackbartext }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="yellow"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
   
  </v-app>
</template>


<script>
  export default {
    props:{
      extraInfo: String,
      user: Object,
    },
    data: () => ({
      search: '',
      loading: false,
      deleteConfirmation: false,
      deleteConfirm_message: null,
      itemForDeletion: null,
      permissions: [],
      snackbar: false,
      snackbartext: '',
      snackbartimeout: 3000,
      snackbarcolor: '',
      headers: [
        {
          text: '#',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        { text: 'Login ID 1', value: 'login_id1' },
        { text: 'Login ID 2', value: 'login_id2' },
        { text: 'First Name', value: 'firstname' },
        { text: 'Last Name', value: 'lastname' },
        { text: 'App Access', value: 'app_access' },
        { text: 'Web Access', value: 'web_access' },
        { text: 'Role', value: 'role' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      userList: [],
      editedIndex: -1,
      routes: '',
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
      UserCreatePermission () {
        return this.permissions != null ? this.permissions.includes('user_create') : this.user.is_admin == 1 ;
      },
      UserModifyPermission () {
        return this.permissions != null ? this.permissions.includes('user_modify') : this.user.is_admin == 1 ;
      },
      UserRemovePermission () {
        return this.permissions != null ? this.permissions.includes('user_remove') : this.user.is_admin == 1 ;
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      // this.initialize()
    },

    methods: {
      go (route) {
          window.location.href = route;
      },
      editItem (item) {
        window.location.href = this.routes.edit_user_route +"?uid=" + item.id;
      },
      deleteItem (item) {
        this.itemForDeletion = item;
        this.deleteConfirm_message = "Do you really want to delete " + item.firstname + " " + item.lastname +"?";
        this.deleteConfirmation = true;
      },
      proceedDeletion () {

        axios.post(this.routes.delete_user_route, {
          uid: this.itemForDeletion.id,
        })
        .then(res => {
          this.deleteConfirmation = false;
          if(res.data == 'success')
          {
          this.userList.splice(this.userList.indexOf(this.itemForDeletion), 1);
          this.snackbartext = this.itemForDeletion.firstname + " " + this.itemForDeletion.lastname + " is removed successfully.";
          this.snackbarcolor = 'success';
          this.snackbar = true;
          this.itemForDeletion = null;


          }
        })
        .catch(error => {
            this.deleteConfirmation = false;
        })

      
      },
    },

    mounted() {
      this.routes = JSON.parse(this.extraInfo);
      this.permissions = this.routes.RolePermissions;
      console.log(this.routes );

      this.loading = true;
      axios.get('/userlisting/get')
      .then(response => {
        // this.userList = response.data
        const newArray = response.data.map((arrayItem, arrayIndex) => {
          if(arrayItem.is_admin == 1){
            arrayItem.is_admin = 'Yes';
            arrayItem.role = 'Admin';
          }
          else
            arrayItem.is_admin = 'No';

          if(arrayItem.app_access == 1)
            arrayItem.app_access = 'Yes';
          else
            arrayItem.app_access = 'No';

         

            if(arrayItem.web_access == 1)
            arrayItem.web_access = 'Yes';
          else
            arrayItem.web_access = 'No';

          return arrayItem;
        })

        this.userList = newArray;
        this.loading = false;
      })

    }

  }
</script>

<style  scoped>

</style>