<template>
  <v-app>

      <v-row class='pt-0 mt-n2'>
              <!-- <h1 class='text-h5'>User Listing</h1> -->
        <v-spacer></v-spacer>
        <v-btn class='red' dark @click="go(routes.back_route)">
          <v-icon  left>mdi-arrow-left</v-icon>
          Back
        </v-btn>

      </v-row>


    <v-card>
    <v-card-title>
      {{form_Title}}
      <v-spacer></v-spacer>
    </v-card-title>
    <v-divider></v-divider>

    <v-form v-model="valid" ref='myform'>
      <v-container>
        <v-row>

          <v-col cols="12" sm="4">
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                  <template v-slot:activator="{ on, attrs }">
                    <!-- <v-text-field  v-model="dateRangeText" persistent-hint label="Date Range" prepend-icon="mdi-calendar-month" readonly v-bind="attrs" v-on="on"    ></v-text-field> -->
                      <v-text-field
                        v-model="date"
                        label="Picker in menu"
                        prepend-icon="mdi-calendar-month"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                  </template>
                  <v-date-picker v-model="date" no-title scrollable @change="$refs.menu.save(date)"></v-date-picker>
              </v-menu>
          </v-col>
          <v-col cols="12" sm="4">
              <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                :return-value.sync="time"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                  <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="time"
                        label="Time"
                        prepend-icon="mdi-calendar-clock"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                  </template>
                  <v-time-picker v-model="time"  scrollable >
                    <v-spacer></v-spacer>
                    <v-btn text dense color='primary' @click='$refs.menu1.save(time)'>ok</v-btn>
                  </v-time-picker>
              </v-menu>
          </v-col>
          <v-col cols="12" sm="4">
            <v-text-field
                v-model="sitelocation"
                label="Site Location"
                required
              ></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" sm="4">
             <v-text-field
                v-model="workorder_number"
                label="Work Order Number"
                required
              ></v-text-field>
          </v-col>
          <v-col cols="12" sm="4">
              <v-text-field
                v-model="flightnumber"
                label="Flight Number"
              ></v-text-field>
          </v-col>
          <v-col cols="12" sm="4">
              <v-text-field
                v-model="aircraft"
                label="Aircraft"
                required
              ></v-text-field>
          </v-col>
        </v-row>


        <v-row>
          <v-col cols="12" sm="4">
             <v-text-field
                v-model="city"
                label="City"
                required
              ></v-text-field>
          </v-col>
          <v-col cols="12" sm="4">
             <v-text-field
                v-model="country"
                label="Country"
                required
              ></v-text-field>
          </v-col>
           <v-col cols="12" sm="4">
            <v-autocomplete
                v-model="engineers"
                :items="englist"
                label="Select Engineers"
                chips
                multiple
                deletable-chips
                small-chips

            ></v-autocomplete>
          </v-col>

        </v-row>
        <v-row>
          <v-col cols='12'>
            <v-btn color='teal' dark :disabled="!valid"  @click='submitForm'> Submit </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </v-card>

  <v-snackbar
      v-model="snackbar"
      :timeout="snackbartimeout"
      top
      right
      :color='snackbarcolor'
    >
      {{ snackbartext }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="yellow"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
  </v-snackbar>


  </v-app>
</template>


<script>
  export default {
    props:{
      extraInfo: String,
      user: Object,
    },
    data: () => ({
      date: new Date().toISOString().substr(0, 10),
      time:'',
      menu: false,
      menu1: false,
      uid: null,
      snackbar: false,
      form_Title: 'Add New Workorder',
      snackbartext: '',
      snackbartimeout: 3000,
      snackbarcolor: '',
      valid: false,
      sitelocation: '',
      workorder_number: '',
      flightnumber:'',
      aircraft:'',
      city:'',
      country:'',
      engineers:[],
      englist:[],
    }),

    computed: {
      emailRule: function() {

        if(this.stock_code !== '')
          return [ v => /.+@.+\..+/.test(v)   || 'This field is optional but you may enter a valid Stock Code.',];
        else
          return [];
      },
    },

    watch: {

    },

    created () {
      // this.initialize()

    },

    methods: {
      go (route) {
          window.location.href = route;
      },
      submitForm () {
        const data = {
            'date': this.date,
            'time': this.time,
            'sitelocation': this.sitelocation,
            'workorder_number' : this.workorder_number,
            'flight_number' : this.flightnumber,
            'aircraft' : this.aircraft,
            'city': this.city,
            'country': this.country,
            'engineers': this.engineers,
            'uid': this.uid,
        };

        axios.post(this.routes.submit_form,data).then((response)=>{

          if(typeof response.data == 'object'){
            this.snackbartext = response.data.message;
            this.snackbarcolor = response.data.action;
            this.snackbar = true;

          }
          else if(response.data == 'Success')
          {
            this.snackbartext = "New Work order is added successfully.";
            this.snackbarcolor = 'success';
            this.snackbar = true;
            this.formReset();
          }
          else if(response.data == 'Updated')
          {
            // this.snackbartext = "Details are updated successfully.";
            // this.snackbarcolor = 'success';
            // this.snackbar = true;
            // this.formReset();
            alert("Details are updated successfully.");
            window.location.href = this.routes.back_route;
          }

        })
        .catch(error => {
          // console.log(error.response.data.errors);
          this.snackbartext = '';
          for (const [key, value] of Object.entries(error.response.data.errors)) {
            // console.log(`${key}: ${value}`);
            this.snackbartext += value ;

          }
          // this.snackbartext += error.response.data.errors.keys(item => {

          // })
          this.snackbarcolor = 'error';
          this.snackbar = true;

        })

      },
      formReset () {

        this.date = new Date().toISOString().substr(0, 10),
        this.time = '';
        this.sitelocation = '';
        this.workorder_number = '';
        this.valid =  false;
        this.flightnumber = '';
        this.aircraft = '';
        this.city = '';
        this.country = '';
        this.engineers = [];
        this.$refs.myform.resetValidation();

      }
    },

    mounted() {
      this.routes = JSON.parse(this.extraInfo);

      

      const englist = this.routes.engineers;

      this.englist = englist.map(item => {
        return {
          text: item.firstname + " " + item.lastname,
          value: item.id
        }
      })
      







    }

  }
</script>

<style  scoped>

</style>
