<template>
  <v-app>

    <v-row class='pt-0 mt-n1 mr-1'>
            <!-- <h1 class='text-h5'>User Listing</h1> -->
            <v-spacer></v-spacer>
            <v-btn class='#dd3d3d' dark @click="go(routes.add_asset_route)" v-if='UserCreatePermission'> Add New Workorder </v-btn>

    </v-row>

    <v-row>
      <v-col cols=12>
        <v-card>
          <v-card-title>
            Work Order Details
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
              :headers="headers"
              :items="userList"
              :search="search"
              :loading ='loading'
              loading-text="Loading... Please wait"
            >
            <template v-slot:item.engineers="{ item }">
              <v-btn dense color='primary' text outlined @click="loadmap(item.id)"> {{ item.eng_id }}</v-btn>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)"  v-if='UserModifyPermission'>
                  mdi-pencil
              </v-icon>
              <v-icon small  @click="deleteItem(item)" v-if='UserRemovePermission'>
                  mdi-delete
              </v-icon>
            </template>


          </v-data-table>
        </v-card>
      </v-col>
    </v-row>



    <v-row justify="center">
      <v-dialog v-model="deleteConfirmation" persistent max-width="440">
        <v-card>
          <v-card-title class="headline">Confirmation</v-card-title>
          <v-card-text>{{deleteConfirm_message}}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteConfirmation = false">No! Cancel</v-btn>
            <v-btn color="red darken-1" text @click="proceedDeletion" disabled>Yes</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>


    <v-row justify="center">
      <v-dialog v-model="map_modal" persistent max-width="80%">
        <v-card>
          <v-card-title class="headline">Engineers</v-card-title>
          <v-card-text v-for="(loc, index) in locations" :key="index" @click="getLocation(loc)">{{loc.engineer_name}}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="map_modal = false">No! Cancel</v-btn>
            <!-- <v-btn color="red darken-1" text @click="proceedDeletion">Yes</v-btn> -->
          </v-card-actions>
        </v-card>
        <v-card>
        <gmap-map
      :center="center"
      :zoom="zoom"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
      :position="google && new google.maps.LatLng(latitude, longitude)"
      >
      </gmap-marker>
          <gmap-info-window
        @closeclick="window_open=false"
        :opened="window_open"
        :position="infowindow"
        :options="{
          pixelOffset: {
            width: 0,
            height: -35
          }
        }"
    >
        Engineer name:
    </gmap-info-window>
    </gmap-map>
        </v-card>
      </v-dialog>
    </v-row>

    <v-snackbar
      v-model="snackbar"
      :timeout="snackbartimeout"
      top
      right
      :color='snackbarcolor'
    >
      {{ snackbartext }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="yellow"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

  </v-app>
</template>


<script>

import {gmapApi} from 'vue2-google-maps';
  export default {
    props:{
      extraInfo: String,
      user: Object,
    },
    data() {
    return {
      search: '',
      loading: false,
      map_modal: false,
      map_modal_content: null,
      deleteConfirmation: false,
      deleteConfirm_message: null,
      itemForDeletion: null,
      permissions: [],
      snackbar: false,
      snackbartext: '',
      snackbartimeout: 3000,
      snackbarcolor: '',
      headers: [
        {
          text: '#',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        { text: 'Work Order#', value: 'work_order_no' },
        { text: 'Flight No', value: 'flight_no' },
        { text: 'Aircraft', value: 'aircraft' },
        { text: 'Date', value: 'date' },
        { text: 'Time', value: 'time' },
        { text: 'Site', value: 'site_location' },
        { text: 'City', value: 'city' },
        { text: 'Country', value: 'country' },
        { text: 'Assigned Engineer(s)', value: 'engineers' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      userList: [],
      editedIndex: -1,
      routes: '',
      locations: '',
      zoom: 14,
      window_open: false,
      infowindow: {lat: 10, lng: 10.0},
      center: {lat: 0, lng: 0},
      latitude: 0,
      longitude: 0,
      coordinates: ''
    };
  },

    computed: {
      google: gmapApi,

      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
      UserCreatePermission () {
        return this.permissions != null ? this.permissions.includes('user_create') : this.user.is_admin == 1 ;
      },
      UserModifyPermission () {
        return this.permissions != null ? this.permissions.includes('user_modify') : this.user.is_admin == 1 ;
      },
      UserRemovePermission () {
        return this.permissions != null ? this.permissions.includes('user_remove') : this.user.is_admin == 1 ;
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      // this.initialize()
    },

    methods: {
      go (route) {
        window.location.href = route;
      },
      editItem (item) {
        // window.location.href = this.routes.edit_asset_route +"?uid=" + item.id;\
        // this.itemForDeletion = item;
        this.deleteConfirm_message = "Editing is disabled in Demo verion.";
        this.deleteConfirmation = true;
      },
      deleteItem (item) {
        this.itemForDeletion = item;
        this.deleteConfirm_message = "Do you really want to delete Work Order # " + item.work_order_no +"?";
        this.deleteConfirmation = true;
      },
      proceedDeletion () {

        axios.post(this.routes.delete_asset_route, {
          uid: this.itemForDeletion.id,
        })
        .then(res => {
          this.deleteConfirmation = false;
          if(res.data == 'success')
          {
          this.userList.splice(this.userList.indexOf(this.itemForDeletion), 1);
          this.snackbartext = this.itemForDeletion.firstname + " " + this.itemForDeletion.lastname + " is removed successfully.";
          this.snackbarcolor = 'success';
          this.snackbar = true;
          this.itemForDeletion = null;


          }
        })
        .catch(error => {
            this.deleteConfirmation = false;
        })


      },
      loadmap (id) {
        // console.log(window.location.origin);
        this.map_modal = true;
        const data = {
            'id': id
        };
        axios.post(window.location.origin+'/get/locations', data)
        .then(response => {
          this.locations = response.data;
          console.log(response.data);
        })
      },

      geocode(addr){
        var app = this;
        console.log(addr);
        const data = {
            'address': addr
        };
        axios.post(window.location.origin+'/get/coordinates', data)
        .then(response => {
          app.coordinates = response.data.results[0].geometry.location;
          // app.longitude = response.data.results[0].geometry.location.lng;
        })
      },

      getLocation(loc){
        console.log(loc);
        this.geocode(loc.location_name);
        console.log(this.coordinates);
        this.center = {lat: parseFloat(loc.loc_lat), lng: parseFloat(loc.loc_long)};
        this.latitude = loc.loc_lat;
        this.longitude = loc.loc_long;
        // console.log("center:"+this.center);
      },
      getCurrentPosition() {
            navigator.geolocation.getCurrentPosition((position) => {
            console.log('Current', position)
            this.position = position
            this.center = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
                }
            })
        }
    },

    mounted() {
      this.routes = JSON.parse(this.extraInfo);
      this.permissions = this.routes.RolePermissions;
      console.log(this.routes );

      this.loading = true;
      axios.get(this.routes.listing)
      .then(response => {
        // this.userList = response.data


        this.userList = response.data;
        this.loading = false;
      })

      this.getCurrentPosition();

    }

  }
</script>

<style  scoped>

</style>
