<template>
    <v-app id="inspire">
        <v-app-bar app color='#dd3d3f' class= 'white--text'>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" class= 'white--text'></v-app-bar-nav-icon>
            <v-toolbar-title >{{ pageTitle || 'No Title' }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu left bottom >
                <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" >
                    <v-icon>mdi-menu-down-outline</v-icon>
                </v-btn>
                </template>

                <v-list>
                <v-list-item @click="Logout" >
                    <v-list-item-title   >Logout</v-list-item-title>
                </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>


        <v-navigation-drawer  app  dark   :value='drawer' color='#dd3d3d'>
            <v-list dense>
                <v-list-item  class="px-2">
                    <v-list-item-avatar>
                    <!-- <img src="https://randomuser.me/api/portraits/men/81.jpg"> -->
                    <v-avatar color="white" max-height='40'>
                      <!-- <v-icon dark>mdi-account-circle</v-icon> -->
                      <v-img  :src="user.avatar || '/images/user.png'" ></v-img>
                    </v-avatar>
                    <!-- <img  :src="user.avatar || '/images/user.png'"> -->
                    </v-list-item-avatar>

                    <v-list-item-content>
                    <v-list-item-title>{{ user.firstname + ' '  + user.lastname }}</v-list-item-title>
                    <v-list-item-subtitle>{{  user.is_admin ? 'Admin' : user.role }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

          <v-divider></v-divider>

                <v-list-item link  v-for="menu in menus" :key="menu.id" @click="loadPage(menu.menu_route)" :style='{backgroundColor: activeMenu == menu.id ? "#6d555561" : ""  }'>
                    <v-list-item-action>
                        <v-icon>{{ menu.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{ menu.menu_name }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>



        <v-main align="top" app >
        <v-container  fluid  > <!--  class="fill-height" -->
            <v-row align="center" justify="center"   >
                <v-col align="left" >
                    <dashboard v-if="page == 'dashboard'" :extra-info="extraInfo" :user='user'></dashboard>

                    <userlisting v-if="page == 'userlisting'"   :extra-info="extraInfo" :user='user'></userlisting>
                    <user-addform v-if="page == 'useraddform'"   :extra-info="extraInfo" :user='user' ></user-addform >


                    <user-jkassignment v-if="page == 'jk_user_assignment'"   :extra-info="extraInfo" :user='user' ></user-jkassignment >

                    <role-permission v-if="page == 'role_permissions'"   :extra-info="extraInfo" :user='user' ></role-permission >
                    <menu-permission v-if="page == 'menu_permissions'"   :extra-info="extraInfo" :user='user' ></menu-permission >
                    <engineer v-if="page == 'Engineer_route'"   :extra-info="extraInfo" :user='user' ></engineer>
                    <assets v-if="page == 'assetslisting'"   :extra-info="extraInfo" :user='user'></assets>
                    <asset-addform v-if="page == 'assetAddform'"   :extra-info="extraInfo" :user='user' ></asset-addform >
                    <workorder v-if="page == 'workorderlisting'"   :extra-info="extraInfo" :user='user' ></workorder >
                    <workorder-addform v-if="page == 'WorkorderAddform'"   :extra-info="extraInfo" :user='user' ></workorder-addform >
                </v-col>

            </v-row>
        </v-container>
        </v-main>
            
        <v-footer color="#dd3d3f" app  dark>
        <span class="white--text">&copy; Demo App</span>
        </v-footer>
    </v-app>
</template>

<script>

import Userlisting from "./pages/userlistng";
import Dashboard from "./pages/dashboard";
import userAddform from "./pages/userAddform";
import rolePermission from "./pages/rolePermission";
import menuPermission from "./pages/menuPermission";
import engineer from "./pages/engineer";
import assets from "./pages/assets";
import assetAddform from "./pages/assetAddform";
import workorder from "./pages/workorder";
import workorderAddform from "./pages/workorderAddform";

export default {
    name: 'LayoutComponent',
    props: {
      menus: Array,
      user: Object,
      page: String,
      pageTitle: String,
      activeMenu: String,
      extraInfo: String,
      logoutLink: String,
      loginlink: String,
    },

    data: () => ({
      drawer: null,
    }),
    components: {
        Userlisting,
        Dashboard,
        userAddform,
        rolePermission,
        menuPermission,
        engineer,
        assets,
        assetAddform,
        workorder,
        workorderAddform,
    },
    mounted(){

    },
    methods: {
        loadPage: function(route) {
            if(route != '' )
                window.location.href = "/" + route;
        },
        Logout () {

            axios.post(this.logoutLink)
            .then(res => {
                if(res.data == 'success')
                {
                    window.location.href = this.loginlink;
                }
            })
            .catch(err => {

            })


        }

    }
}
</script>

<style  scoped>

</style>
