<template>
  <v-app id="inspire" >
    <v-main style="background:URL('../images/background.jpg');background-size:cover">
    <v-container >
        <v-alert :type='AlertType' style='position:absolute' dense v-show='showAlert'>{{ AlertMessage }}</v-alert>
    </v-container>
      <v-container class="fill-height" fluid >
        <v-row align="center" justify="center" >
          <v-col cols="12" sm="8" md="4" >
            <v-card class="elevation-20">
              <v-toolbar color="error" dark flat >
                <v-toolbar-title>Sign in to Demo App</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field color="secondary" label="Login" placeholder='Login'  name="login"  v-model="uid" prepend-icon="mdi-account" type="text" ></v-text-field>

                  <v-text-field color="secondary" id="password" label="Password" placeholder='Password'  name="password" v-model="password" prepend-icon="mdi-lock" type="password" ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" dark @click="LoginClick">Sign in</v-btn>
              </v-card-actions>
              <!-- <v-card-actions>

                <v-btn color="error" block elevation="8"  x-large id='googleButton'  >
                    <v-icon dark right>mdi-google-plus</v-icon>
                    &nbsp; Google login
                </v-btn>

              </v-card-actions> -->

                <!-- <v-card-actions>
                    <v-btn color="info" block elevation="8"  x-large @click='microsoftLogin'>
                        <v-icon dark right>mdi-microsoft</v-icon>
                        &nbsp; Microsoft login
                    </v-btn>
                </v-card-actions> -->
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>



  let auth2;

  export default {
    name: "LoginComponent",
    props: {
        source: String,
        authcheckingLink: String,
        servermessages: String,
    },
    data() {
        return{
            uid: '',
            password: '',
            showAlert: false,
            AlertMessage: '',
            AlertType: 'error',
        }
    },
    mounted() {
      if(this.servermessages !== 'null'){
        const messages = JSON.parse(this.servermessages)
        this.AlertMessage = messages.message;
        this.AlertType = messages.action;
        this.showAlert = true;
      }

      // gapi.load('auth2', () => {
      //   // Retrieve the singleton for the GoogleAuth library and set up the client.
      //   auth2 = gapi.auth2.init({
      //     client_id: '1005415548574-ide6u9uj902dngsn8ert5o2i9knkrsg2.apps.googleusercontent.com',
      //     cookiepolicy: 'single_host_origin',
      //     // Request scopes in addition to 'profile' and 'email'
      //     scope: 'profile email'
      //   });
      //   this.attachSignin(document.getElementById('googleButton'));
      // });



    },
    watch:{
      showAlert: function(newValue, oldValue) {
           if(newValue == true){
                setTimeout(() => {
                    this.showAlert = false;
                },3000)
           }

      }
    },
    methods:{
        validate: function() {
            if(this.uid == '' )
            {
                this.AlertMessage = "Username is a required field.";
                this.AlertType = 'error';
                this.showAlert = true;
                return false;
            }
            else if(this.password == '' )
            {
                this.AlertMessage = "Pasword is also a required field.";
                this.AlertType = 'error';
                this.showAlert = true;
                return false;
            }
            else
            {
                return true;
            }
        },
        LoginClick: function() {
            const proceed = this.validate();
            if(proceed)
            {
                axios.post(this.source,{
                    params: {
                        uid: this.uid,
                        password: this.password,
                    }
                }).then((response)=>{
                    // console.log(response);
                    if(response.data.type == 'error')
                    {
                        this.AlertMessage = response.data.msg;
                        this.AlertType = 'error';
                        this.showAlert = true;
                    }
                    if(response.data.type == 'success')
                    {
                        this.AlertMessage = 'Please Wait...';
                        this.AlertType = 'success';
                        this.showAlert = true;
                        window.location.href = response.data.route;
                    }
                })
            }
        },
        microsoftLogin () {


          let query = '?client_id=a146e327-2265-4aa0-bbe5-87566f86b8bc&redirect_uri=https://headcountpro.com/ms_authorize&scope=user.read&response_type=code&response_mode=query';
          const url = 'https://login.microsoftonline.com/common/oauth2/v2.0/authorize'+query;

          window.location.href = url;

        },
        attachSignin (element) {

          auth2.attachClickHandler(element, {},
              (googleUser) => {

                const email = googleUser.getBasicProfile().getEmail();
                this.Auth2Athenticate(email);
                // document.getElementById('name').innerText = "Signed in: " +
                //     googleUser.getBasicProfile().getName();
              }, (error) => {
                alert(JSON.stringify(error, undefined, 2));
              });
        },
        Auth2Athenticate(email){
          axios.post(this.authcheckingLink, {

              email: email

          })
          .then(res => {
            if(res.data.action == 'success')
            {
              if(res.data.params != '')
              {
                window.location.href = res.data.route + res.data.params;
              }
              else
              {
                window.location.href = res.data.route;
              }
            }
            else if(res.data.action=='error'){
              this.AlertMessage = res.data.message;
              this.AlertType = res.data.action;
              this.showAlert = true;
              return false;
            }
          })
          .catch(err=> {

          })
        },

    }

  }
</script>
